// .profile-container {
//   h2 {
//     padding: 0 16px;
//   }
// }
.covid-card {
  width: 50%;
  margin: 5em auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
