<div class="login-container">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onLoginSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Coronavirus Tracker</mat-card-title>
        <mat-card-subtitle>Sign In</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Company" formControlName="company">
            </mat-form-field>
          </div>
        </div> -->
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <input matInput placeholder="Username" formControlName="username" [(ngModel)]="addressForm.value.username">
              <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
                A username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" [(ngModel)]="addressForm.value.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
                Your password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address" formControlName="address"></textarea>
              <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!hasUnitNumber">
          <div class="col">
            <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
              + Add C/O, Apt, Suite, Unit
            </button>
          </div>
        </div>
        <div class="row" *ngIf="hasUnitNumber">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="City" formControlName="city">
              <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                City is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="State" formControlName="state">
                <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                  {{ state.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addressForm.controls['state'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col">
            <mat-radio-group formControlName="shipping">
              <mat-radio-button value="free">Free Shipping</mat-radio-button>
              <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
              <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
            </mat-radio-group>
          </div>
        </div> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Sign In</button>
        <p><b>Username</b>: admin&nbsp;&nbsp;<b>Password</b>: admin</p>
      </mat-card-actions>
      <mat-divider></mat-divider>
      <mat-card-content>
        <p mat-line>Don't have an Account? <a [routerLink]="['/register']" href="#">Sign Up</a></p>
      </mat-card-content>
    </mat-card>
  </form>
</div>
